body {
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    zoom: 60%;
    color-scheme: dark;
}

h1 {
    margin-top: 20px;
    font-size: 28px;
    text-decoration: underline;
    color: white;
}

#nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 6px 10px;

    width: 50%;
    margin: 0 auto;

    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
    border-radius: 10px;
}

#nav ul li {
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
    color: #b57bff;
}

#nav ul li a {
    text-decoration: none;
    color: #b57bff;
}

#nav ul li:hover {
    background-color: #1a1025;
    transform: translateY(-3px);
}

#nav ul li#co {
    background-color: black;
    border-radius: 15px;
    border: 2px solid #b57bff;
}

#nav ul li#co a {
    color: white;
}

#nav ul li#co:hover {
    background-color: #1a1025;
}

p {
    font-size: 20px;
    margin-top: 30px;
    color: white;
}

i {
    color: white;
}
